#graoh-new.new
= render partial: 'layouts/header'

.GraphCreate
  .GraphCreateHeader
    .GraphCreateHeader__month
      = date_select :date, {user_month_number: true}, class: 'diary-date', size: "1x2", default: Date.today
    -# .GraphCreateHeader__day
    -#   3日


  .GraphCreateMain
    = form_for [@management] do |f|
      .GraphCreateMainLeft
        .GraphCreateMainLeft__time
          .GraphCreateMainLeft__time__times
            AM 5:00
          .GraphCreateMainLeft__time__points
            .star-rating
              = f.radio_button "5", 1, class: "star-rating"
              %i
              = f.radio_button "5", 2, class: "star-rating"
              %i
              = f.radio_button "5", 3, class: "star-rating"
              %i
              = f.radio_button "5", 4, class: "star-rating"
              %i
              = f.radio_button "5", 5, class: "star-rating"
              %i
    .GraphCreateMainRight
      = form_for [@food] do |f|
        .GraphCreateMainRight__food
          .GraphCreateMainRight__food__breakfast
            breakfast :
          .GraphCreateMainRight__food__points
            = f.number_field :breakfast, class: "breakfast-btn", min: 0, max: 100



        .GraphCreateForm
          .GraphCreateForm__send
            = f.submit "SEND", class: ".GraphCreateForm__send-btn"